/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Config */

:root {
    --success-color: #6ab04c;
    --site-color: #f44336;
    --danger-color: #ff0707;
    --main-color: #727475;
    --main-bg-color: #fff;
    --second-bg-color: #f1f1f1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: var(--main-color) var(--main-bg-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--second-bg-color);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: 1px solid var(--second-bg-color);
    border-radius: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--second-bg-color);
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--main-bg-color);
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
}

.navbar>div div {
    color: var(--main-color);
    cursor: pointer;
}

.navbar>div:first-of-type img {
    width: 50px;
    margin-left: 20px;
}

.navbar>div:nth-of-type(2) {
    width: 40%;
    position: relative;
}

.navbar>div:nth-of-type(2) input {
    width: 100%;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: 26px;
    background-color: var(--second-bg-color);
}

.navbar>div:nth-of-type(2) input::placeholder {
    transition: opacity .3s;
}

.navbar>div:nth-of-type(2) input:focus::placeholder {
    opacity: 0;
}

.navbar>div:nth-last-of-type(2) svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 17px;
    cursor: auto;
}

.navbar>div:last-of-type div {
    margin-left: 20px;
}

.navbar>div:last-of-type svg {
    font-size: 25px;
}

.navbar>div:last-of-type .notification {
    position: relative;
}

.navbar>div:last-of-type .notification::before {
    content: "3";
    position: absolute;
    top: -8px;
    right: -8px;
    color: #fff;
    background-color: var(--site-color);
    width: 10px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>div:last-of-type .notification ul {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 15px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}

.navbar>div:last-of-type .notification ul.active {
    display: block;
}

.navbar>div:last-of-type .notification ul li:not(:last-of-type) {
    border-bottom: 1px solid var(--second-bg-color);
}

.navbar>div:last-of-type .notification ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    transition: background-color .5s;
    height: 82px;
}

.navbar>div:last-of-type .notification ul li:hover {
    background-color: var(--second-bg-color);
}

.navbar>div:last-of-type .notification ul li img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 13px;
    flex-shrink: 0;
}

.navbar>div:last-of-type .notification ul li p {
    font-size: 14px;
}

.navbar>div:last-of-type .avatar {
    position: relative;
}

.navbar>div:last-of-type .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar>div:last-of-type .avatar ul {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 15px;
    width: 150px;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}

.navbar>div:last-of-type .avatar ul.active {
    display: block;
}

.navbar>div:last-of-type .avatar ul li:not(:last-of-type) {
    border-bottom: 1px solid var(--second-bg-color);
}

.navbar>div:last-of-type .avatar ul li {
    padding: 9px;
    transition: background-color .5s;
}

.navbar>div:last-of-type .avatar ul li:hover {
    background-color: var(--second-bg-color);
}

.navbar>div:last-of-type .avatar ul li svg {
    font-size: 16px;
    margin-right: 10px;
}

.navbar>div:last-of-type .avatar ul li a {
    color: var(--main-color);
    text-decoration: none;
}

/* Content */

.content {
    display: flex;
}

/* Sidebar */

.sidebar {
    width: 220px;
    height: calc(100vh - 60px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--main-bg-color);
    position: sticky;
    left: 0;
    top: 60px;
    overflow: hidden;
    transition: width .7s ease;
    flex-shrink: 0;
}

.sidebar.active {
    width: 75px;
}

.sidebar.active:hover {
    width: 220px;
}

.sidebar ul li {
    padding: 17px 25px;
    cursor: pointer;
    transition: background-color .5s;
    width: 250px;
}

.sidebar ul li:hover {
    background-color: var(--second-bg-color);
}

.sidebar ul li svg {
    font-size: 18px;
    margin-right: 23px;
    color: var(--main-color);
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 16px;
}

.sidebar ul li.active {
    background-color: var(--second-bg-color);
    border-left: 5px solid var(--site-color);
}

.sidebar ul li.active svg,
.sidebar ul li.active a {
    color: var(--site-color);
    font-weight: 500;
}

/* Wrapper */

.wrapper {
    width: 100%;
    padding: 25px;
    background-color: var(--second-bg-color);
    overflow: hidden;
}

/* Overview Cards */

.wrapper .overview-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.wrapper .overview-cards .card {
    width: calc(94% / 4);
    color: var(--main-bg-color);
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 30px 0;
    position: relative;
    margin-bottom: 5px;
}

.wrapper .overview-cards .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 145px;
    pointer-events: none;
}

.wrapper .overview-cards .card:nth-child(1)::before,
.wrapper .overview-cards .card:nth-child(4)::before {
    background-image: url(../imgs/fanos.svg);
}

.wrapper .overview-cards .card:nth-child(4)::before {
    background-position: right;
}

.wrapper .overview-cards .card:nth-child(2)::before,
.wrapper .overview-cards .card:nth-child(3)::before {
    background-image: url(../imgs/zena.svg);
}

.wrapper .overview-cards .card:nth-child(odd) {
    background: linear-gradient(to right, #e43a15, #e65245);
}

.wrapper .overview-cards .card:nth-child(even) {
    background: linear-gradient(to right, #66bb6a, #43a047);
}

.wrapper .overview-cards .card svg {
    position: relative;
}

/* Table */

.table-holder {
    overflow-x: auto;
}

table {
    width: 100%;
    min-width: 1000px;
    text-align: center;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
    border-collapse: collapse;
    color: var(--main-color);
}

table thead th {
    padding: 20px 0 15px;
}

table tbody tr {
    border-bottom: 1px solid var(--second-bg-color);
}

table tbody tr td {
    padding: 10px;
}

table tbody tr td:first-of-type {
    position: relative;
}

table tbody tr td:first-of-type::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--site-color);
    width: 3px;
    height: 70%;
}

table tbody tr td img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

table tbody tr td .table-btn {
    color: var(--main-bg-color);
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

table tbody tr td .table-btn.canceled,
table tbody tr td .table-btn.fire {
    background-color: var(--danger-color);
}

table tbody tr td .table-btn.accepted,
table tbody tr td .table-btn.hire {
    background-color: var(--success-color);
}

table tbody tr td .target-progress {
    text-align: left;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table tbody tr td .target-progress .progress {
    width: 83%;
    height: 8px;
    background-color: var(--second-bg-color);
    border-radius: 5px;
    position: relative;
}

table tbody tr td .target-progress .progress span {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: var(--site-color);
    border-radius: inherit;
}

table tbody tr td .table-btn.hire,
table tbody tr td .table-btn.fire {
    font-size: 13px;
    padding-right: 12px;
    padding-left: 12px;
}