/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Config */

:root {
    --success-color: #6ab04c;
    --site-color: #f44336;
    --danger-color: #ff0707;
    --main-color: #727475;
    --main-bg-color: #fff;
    --second-bg-color: #f1f1f1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Firefox */
    scrollbar-width: auto;
    scrollbar-color: var(--main-color) var(--main-bg-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--second-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: 1px solid var(--second-bg-color);
    border-radius: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--second-bg-color);
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--main-bg-color);
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
}

.navbar>div div {
    color: var(--main-color);
    cursor: pointer;
}

.navbar>div:first-of-type img {
    width: 50px;
    margin-left: 20px;
}

.navbar>div:nth-of-type(2) {
    width: 40%;
    position: relative;
}

.navbar>div:nth-of-type(2) input {
    width: 100%;
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: 26px;
    background-color: var(--second-bg-color);
}

.navbar>div:nth-of-type(2) input::placeholder {
    transition: opacity .3s;
}

.navbar>div:nth-of-type(2) input:focus::placeholder {
    opacity: 0;
}

.navbar>div:nth-last-of-type(2) svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 17px;
    cursor: auto;
}

.navbar>div:last-of-type div {
    margin-left: 20px;
}

.navbar>div:last-of-type svg {
    font-size: 25px;
}

.navbar>div:last-of-type .notification {
    position: relative;
}

.navbar>div:last-of-type .notification::before {
    content: "3";
    position: absolute;
    top: -8px;
    right: -8px;
    color: #fff;
    background-color: var(--site-color);
    width: 10px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>div:last-of-type .notification ul {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 15px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}

.navbar>div:last-of-type .notification ul.active {
    display: block;
}

.navbar>div:last-of-type .notification ul li:not(:last-of-type) {
    border-bottom: 1px solid var(--second-bg-color);
}

.navbar>div:last-of-type .notification ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    transition: background-color .5s;
}

.navbar>div:last-of-type .notification ul li:hover {
    background-color: var(--second-bg-color);
}

.navbar>div:last-of-type .notification ul li img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 13px;
    flex-shrink: 0;
}

.navbar>div:last-of-type .notification ul li p {
    font-size: 14px;
}

.navbar>div:last-of-type .avatar {
    position: relative;
}

.navbar>div:last-of-type .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar>div:last-of-type .avatar ul {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 15px;
    width: 150px;
    background-color: var(--main-bg-color);
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}

.navbar>div:last-of-type .avatar ul.active {
    display: block;
}

.navbar>div:last-of-type .avatar ul li:not(:last-of-type) {
    border-bottom: 1px solid var(--second-bg-color);
}

.navbar>div:last-of-type .avatar ul li {
    padding: 9px;
    transition: background-color .5s;
}

.navbar>div:last-of-type .avatar ul li:hover {
    background-color: var(--second-bg-color);
}

.navbar>div:last-of-type .avatar ul li svg {
    font-size: 16px;
    margin-right: 10px;
}

.navbar>div:last-of-type .avatar ul li a {
    color: var(--main-color);
    text-decoration: none;
}

/* Content */

.content {
    display: flex;
}

/* Sidebar */

.sidebar {
    width: 250px;
    height: calc(100vh - 60px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--main-bg-color);
    position: sticky;
    left: 0;
    overflow: hidden;
    transition: width .7s ease;
}

.sidebar.active {
    width: 75px;
}

.sidebar.active:hover {
    width: 250px;
}

.sidebar ul li {
    padding: 17px 25px;
    cursor: pointer;
    transition: background-color .5s;
    width: 250px;
}

.sidebar ul li:hover {
    background-color: var(--second-bg-color);
}

.sidebar ul li svg {
    font-size: 19px;
    margin-right: 23px;
    color: var(--main-color);
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 17px;
}

.sidebar ul li.active {
    background-color: var(--second-bg-color);
    border-left: 5px solid var(--site-color);
}

.sidebar ul li.active svg,
.sidebar ul li.active a {
    color: var(--site-color);
    font-weight: 500;
}

/* Content */

.wrapper {
    padding: 20px 25px;
}